<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IAgility_UGC_API_WCF">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IAgility_UGC_API_WCF1">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:81/Agility-UGC-API-WCF.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAgility_UGC_API_WCF"
                contract="AgilityUGC.IAgility_UGC_API_WCF" name="WSHttpBinding_IAgility_UGC_API_WCF" />
            <endpoint address="https://127.0.0.1:444/Agility-UGC-API-WCF.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAgility_UGC_API_WCF1"
                contract="AgilityUGC.IAgility_UGC_API_WCF" name="WSHttpBinding_IAgility_UGC_API_WCF1" />
        </client>
    </system.serviceModel>
</configuration>