@using Agility.Web.Components
@using Agility.Components.Blog.Classes
@using Agility.Components.Blog.Extensions
@using Agility.Components.Blog.ViewModels
@model BlogLinkViewModel

<div class="agility-blg-tags-module agility-module agility-panel">
    <h4 class="agility-panel-header">@Model.Configuration["PostsByTagsLabel"]</h4>
    <div class="agility-blg-tags agility-panel-body">
        @Html.Partial(AgilityComponents.TemplatePath("Blog-Links"), Model)
    </div>
</div>

