@using Agility.Web.Components
@using Agility.Components.Blog.Classes
@model Agility.Components.Blog.ViewModels.PostViewModel

<div class="agility-blg-featured-post-module agility-module">
    <div class="agility-container">
        @{
            Model.ListedImageWidth = 400;
            Model.ListedImageHeight = 250;
        }
        @Html.Partial(AgilityComponents.TemplatePath("Blog-ListedPost"), Model)
    </div>
</div>
